@import url('https://fonts.googleapis.com/css?family=Poppins:700');
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background:#C295D8;
  
  display: flex;
  align-items: center;
}



.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #FCE2DB;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

#login{
    
    padding: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    border-radius: 25px;

}

#logo{  margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;

}

#heading{
    font-family: 'Press Start 2P', cursive;
    color: #EEEEEE;
    background-color: #393E46;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

#username{
background-color: #87E0FF;
border-radius: 10px;
border: 2px solid #393E46 ;
padding: 10px;
font-family: 'Passion One', cursive;
}

#pass{
    background-color: #87E0FF;
    border-radius: 10px;
    border: 2px solid #393E46 ;
    padding: 10px;
    font-family: 'Passion One', cursive;
}

#nu{
    font-family: 'Big Shoulders Stencil Text', cursive;
    border: solid 2px navy ;
    border-radius: 5px;
    text-align: center;
}

.box {
   
    background: #C295D8;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  .box:hover {
    background-color: #FCE2DB;
    cursor: pointer;
  }

  .rainbow {
    background: #f09433; 
    background: -moz-transition(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

  .rainbow:hover{
      background-color: #DAEC8B ;
      cursor: pointer;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #555;
    outline: none;
  }

  .label{
      text-align: center;
      font-family: 'Nova Slim', cursive;
      color: #FFFDD6;
  }
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #555;
    outline: none;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #555;
    outline: none;}
    
#leftdiv
{
    float: left;
    
    height: 450px;
    width: 400px;
    padding: 20px;
    margin-left:10%;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 25px;
    margin-bottom: 10%;
}
#rightdiv{
    float: right;
    height: 450px;
    width: 400px;
    
    padding: 20px;
    margin-left:5%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    
}
.regbox1 {
    background: #f09433; 
    
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  .regbox1:hover {
    background-color: #dc2743;
    cursor: pointer;
  }

  .regbox2 {
    background: #dc2743; 
    
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  
  .regbox2:hover {
    background-color: #bc1888;
    cursor: pointer;
  } 

  #submit{
    font-family: 'Passion One', cursive;  
  }

  #reset{
    font-family: 'Passion One', cursive;
  }

  button[type=submit] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 25px ;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    outline: none;
}

 button[type=reset] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    outline: none;
  }   